.keepout-Sunflower1 {
    background-color: #ffce54;
}

.keepout-Sunflower2 {
    background-color: #f6bb42;
}

.keepout-Grass1 {
    background-color: #a0d468;
}

.keepout-Grass2 {
    background-color: #8cc152;
}

.keepout-PinkRose1 {
    background-color: #ec87c0;
}

.keepout-PinkRose2 {
    background-color: #d770ad;
}

.keepout-Mint1 {
    background-color: #48cfad;
}

.keepout-Mint2 {
    background-color: #37bc9b;
}

.keepout-Aqua1 {
    background-color: #4fc1e9;
}

.keepout-Aqua2 {
    background-color: #3bafda;
}

.keepout-Grey1 {
    background-color: #656d78;
}

.keepout-Grey2 {
    background-color: #434a54;
}

.keepout-Grapefruit1 {
    background-color: #ed5565;
}

.keepout-Grapefruit2 {
    background-color: #da4453;
}

.keepout-Bittersweet1 {
    background-color: #fc6e51;
}

.keepout-Bittersweet2 {
    background-color: #e9573f;
}

.keepout-Bluejeans1 {
    background-color: #5d9cec;
}

.keepout-Bluejeans2 {
    background-color: #4a89dc;
}

.keepout-Lavender1 {
    background-color: #ac92ec;
}

.keepout-Lavender2 {
    background-color: #967adc;
}

span.color-label {
    font-size: 0.8em;
}